@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #cc2952 !important;
}
.bg-success {
  background-color: #4267b2 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #cc2952 !important;
  border-color: #cc2952 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #8c1c38 !important;
  border-color: #8c1c38 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #8c1c38 !important;
  border-color: #8c1c38 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #cc2952 !important;
  border-color: #cc2952 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #8c1c38 !important;
  border-color: #8c1c38 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #8c1c38 !important;
  border-color: #8c1c38 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #4267b2 !important;
  border-color: #4267b2 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2d477a !important;
  border-color: #2d477a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2d477a !important;
  border-color: #2d477a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #771830;
  color: #771830;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #cc2952;
  border-color: #cc2952;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #cc2952 !important;
  border-color: #cc2952 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #771830;
  color: #771830;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #cc2952;
  border-color: #cc2952;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #cc2952 !important;
  border-color: #cc2952 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #263c68;
  color: #263c68;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #4267b2;
  border-color: #4267b2;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #4267b2 !important;
  border-color: #4267b2 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #cc2952 !important;
}
.text-secondary {
  color: #cc2952 !important;
}
.text-success {
  color: #4267b2 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #771830 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #771830 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #263c68 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #cc2952;
  border-color: #cc2952;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #cc2952;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f5ccd6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #9aafda;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #cc2952;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #cc2952;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #cc2952;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #cc2952;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #cc2952;
  border-bottom-color: #cc2952;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #cc2952 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #cc2952 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23cc2952' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rFw34uyVMp {
  background-image: url("../../../assets/images/img-7629-2000x1392.jpg");
}
.cid-rFw34uyVMp H1 {
  text-align: left;
}
.cid-rFw34uyVMp .mbr-text,
.cid-rFw34uyVMp .mbr-section-btn {
  text-align: left;
}
.cid-sa03cpF6pK {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-sa03cpF6pK .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-sa03cpF6pK .media-content {
  padding-left: 2rem;
}
.cid-sa03cpF6pK textarea {
  min-height: 150px;
}
.cid-sa03cpF6pK .mbr-iconfont {
  position: absolute;
  right: 1.2rem;
  color: #767676;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
}
.cid-sa03cpF6pK .form-control,
.cid-sa03cpF6pK .field-input {
  padding: 1rem;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #767676;
  color: #767676 !important;
  transition: 0.4s;
  font-size: 0.9rem;
  box-shadow: none;
  border-radius: 0px;
  outline: none;
}
.cid-sa03cpF6pK .form-control input::-webkit-input-placeholder,
.cid-sa03cpF6pK .field-input input::-webkit-input-placeholder,
.cid-sa03cpF6pK .form-control textarea::-webkit-input-placeholder,
.cid-sa03cpF6pK .field-input textarea::-webkit-input-placeholder {
  color: #767676 !important;
}
.cid-sa03cpF6pK .form-control input:-moz-placeholder,
.cid-sa03cpF6pK .field-input input:-moz-placeholder,
.cid-sa03cpF6pK .form-control textarea:-moz-placeholder,
.cid-sa03cpF6pK .field-input textarea:-moz-placeholder {
  color: #767676 !important;
}
.cid-sa03cpF6pK .form-control:hover,
.cid-sa03cpF6pK .field-input:hover,
.cid-sa03cpF6pK .form-control:focus,
.cid-sa03cpF6pK .field-input:focus {
  background-color: #ffffff;
  border-color: #767676;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-sa03cpF6pK .form-control:hover input::-webkit-input-placeholder,
.cid-sa03cpF6pK .field-input:hover input::-webkit-input-placeholder,
.cid-sa03cpF6pK .form-control:focus input::-webkit-input-placeholder,
.cid-sa03cpF6pK .field-input:focus input::-webkit-input-placeholder,
.cid-sa03cpF6pK .form-control:hover textarea::-webkit-input-placeholder,
.cid-sa03cpF6pK .field-input:hover textarea::-webkit-input-placeholder,
.cid-sa03cpF6pK .form-control:focus textarea::-webkit-input-placeholder,
.cid-sa03cpF6pK .field-input:focus textarea::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-sa03cpF6pK .form-control:hover input:-moz-placeholder,
.cid-sa03cpF6pK .field-input:hover input:-moz-placeholder,
.cid-sa03cpF6pK .form-control:focus input:-moz-placeholder,
.cid-sa03cpF6pK .field-input:focus input:-moz-placeholder,
.cid-sa03cpF6pK .form-control:hover textarea:-moz-placeholder,
.cid-sa03cpF6pK .field-input:hover textarea:-moz-placeholder,
.cid-sa03cpF6pK .form-control:focus textarea:-moz-placeholder,
.cid-sa03cpF6pK .field-input:focus textarea:-moz-placeholder {
  color: #ffffff;
}
.cid-sa03cpF6pK .jq-number__spin:hover,
.cid-sa03cpF6pK .jq-number__spin:focus {
  background-color: #ffffff;
  border-color: #767676;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-sa03cpF6pK .jq-number__spin {
  background-color: #ffffff;
  border-color: #767676;
  color: #767676;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-sa03cpF6pK .jq-selectbox li,
.cid-sa03cpF6pK .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-sa03cpF6pK .jq-selectbox li:hover,
.cid-sa03cpF6pK .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-sa03cpF6pK .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-sa03cpF6pK .jq-number__spin.minus:hover:after,
.cid-sa03cpF6pK .jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-sa03cpF6pK .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-sa03cpF6pK .jq-number__spin.minus:after,
.cid-sa03cpF6pK .jq-number__spin.plus:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-sa03cpF6pK input::-webkit-clear-button {
  display: none;
}
.cid-sa03cpF6pK input::-webkit-inner-spin-button {
  display: none;
}
.cid-sa03cpF6pK input::-webkit-outer-spin-button {
  display: none;
}
.cid-sa03cpF6pK input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-sa03cpF6pK .mbr-text,
.cid-sa03cpF6pK .mbr-section-btn {
  color: #767676;
}
.cid-sa03cpF6pK .text2,
.cid-sa03cpF6pK .mbr-section-btn {
  color: #767676;
}
@media (max-width: 992px) {
  .cid-sa03cpF6pK .media-content {
    padding-left: 0rem;
    padding-top: 2rem;
  }
}
.cid-sa03hJ5klN {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-shCQ6GesMA.popup-builder {
  background-color: #ffffff;
}
.cid-shCQ6GesMA.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-shCQ6GesMA.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-shCQ6GesMA .modal-content,
.cid-shCQ6GesMA .modal-dialog {
  height: auto;
}
.cid-shCQ6GesMA .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-shCQ6GesMA .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-shCQ6GesMA .form-wrapper .mbr-form .form-group,
  .cid-shCQ6GesMA .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-shCQ6GesMA .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-shCQ6GesMA .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-shCQ6GesMA .mbr-text {
  text-align: center;
}
.cid-shCQ6GesMA .pt-0 {
  padding-top: 0 !important;
}
.cid-shCQ6GesMA .pb-0 {
  padding-bottom: 0 !important;
}
.cid-shCQ6GesMA .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-shCQ6GesMA .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-shCQ6GesMA .modal-open {
  overflow: hidden;
}
.cid-shCQ6GesMA .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-shCQ6GesMA .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-shCQ6GesMA .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-shCQ6GesMA .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-shCQ6GesMA .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-shCQ6GesMA .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-shCQ6GesMA .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-shCQ6GesMA .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-shCQ6GesMA .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-shCQ6GesMA .modal-backdrop.fade {
  opacity: 0;
}
.cid-shCQ6GesMA .modal-backdrop.show {
  opacity: .5;
}
.cid-shCQ6GesMA .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: none;
}
.cid-shCQ6GesMA .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-shCQ6GesMA .modal-header .close:hover {
  opacity: 1;
}
.cid-shCQ6GesMA .modal-header .close:focus {
  outline: none;
}
.cid-shCQ6GesMA .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-shCQ6GesMA .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 100%;
}
.cid-shCQ6GesMA .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: none;
  text-align: center;
}
.cid-shCQ6GesMA .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-shCQ6GesMA .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-shCQ6GesMA .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-shCQ6GesMA .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-shCQ6GesMA .modal-sm {
    max-width: 300px;
  }
  .cid-shCQ6GesMA .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-shCQ6GesMA .modal-lg,
  .cid-shCQ6GesMA .modal-xl {
    max-width: 800px;
  }
  .cid-shCQ6GesMA .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-shCQ6GesMA .modal-xl {
    max-width: 1140px;
  }
  .cid-shCQ6GesMA .container {
    max-width: 1140px;
  }
}
.cid-shCQ6GesMA .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-shCQ6GesMA .container {
    max-width: 720px;
  }
}
.cid-shCQ6GesMA .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-shCQ6GesMA .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-shCQ6GesMA .form-group {
  margin-bottom: 1rem;
}
.cid-shCQ6GesMA .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-shCQ6GesMA .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-shCQ6GesMA .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
