<?xml version="1.0"?><configuration>

<system.webServer>
	
	<httpErrors>
	<!-- <httpErrors errorMode="Custom"> for any live site or when using IIS Express -->	
	
		<remove statusCode="404" subStatusCode="-1" />
		
		<!-- change to the asp-file of your choice - most likely /default.asp-->
		<error statusCode="404" path="/demo.asp" responseMode="ExecuteURL" />
		
	</httpErrors>
	
	<modules runAllManagedModulesForAllRequests="true"/>

</system.webServer>

</configuration>