<?xml version="1.0"?><configuration>

<system.webServer>
	
	<!-- set to <httpErrors> while developing and when facing errors -->
	<httpErrors>
		
		<remove statusCode="404" subStatusCode="-1" />
		
		<!-- change to the asp-file of your choice - most likely /default.asp-->
		<error statusCode="404" path="/demo.asp" responseMode="ExecuteURL" />
		
	</httpErrors>
	
	<modules runAllManagedModulesForAllRequests="true"/>

</system.webServer>

</configuration>